html {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 1895px;
    background: var(--almost-white);
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    position: relative;
    width: 100%;
    height: 1895px;
    background: var(--almost-white);
    overflow-x: hidden;
}

:root {
    --button-violet: #855FB1;
    --button2-hover: #B18BDD;
    --button-blue: #4D96A9;
    --button-hover: #71C0D4;
    --dark-blue: #28283D;
    --gray: #87879D;
    --almost-white: #FAFAFA;
    --border: rgba(135, 135, 157, 0.25);
}

.section1 {
    position: absolute;
    width: 1440px;
    height: 169px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
}

.section2__tablet {
    display: none;
}

.section2__imgleft {
    width: 394px;
    height: 303px;
    position: absolute;
    left: -32px;
    top: 0px;
}

.position1 {
    width: 110px;
    height: 110px;
    position: absolute;
    left: 0px;
    bottom: 138px;
    border-radius: 50%;
}
.position2 {
    width: 110px;
    height: 110px;
    position: absolute;
    left: 142px;
    bottom: 193px;
    border-radius: 50%;
}
.position3 {
    width: 110px;
    height: 110px;
    position: absolute;
    left: 284px;
    bottom: 138px;
    border-radius: 50%;
}

.position4 {
    width: 110px;
    height: 110px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-radius: 50%;
}

.position5 {
    width: 110px;
    height: 110px;
    position: absolute;
    left: 142px;
    bottom: 55px;
    border-radius: 50%;
}

.position6 {
    width: 110px;
    height: 110px;
    position: absolute;
    left: 284px;
    bottom: 0px;
    border-radius: 50%;
}

.section2__imgright {
    width: 394px;
    height: 303px;
    position: absolute;
    right: -32px;
    top: 55px;
}

.position7 {
    width: 110px;
    height: 110px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 50%;
}
.position8 {
    width: 110px;
    height: 110px;
    position: absolute;
    left: 142px;
    top: 55px;
    border-radius: 50%;
}
.position9 {
    width: 110px;
    height: 110px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 50%;
}
.position10 {
    width: 110px;
    height: 110px;
    position: absolute;
    left: 0px;
    top: 138px;
    border-radius: 50%;
}
.position11 {
    width: 110px;
    height: 110px;
    position: absolute;
    left: 142px;
    top: 193px;
    border-radius: 50%;
}
.position12 {
    width: 110px;
    height: 110px;
    position: absolute;
    right: 0px;
    top: 138px;
    border-radius: 50%;
}

.section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 358px;
    top: 169px;
    position: absolute;
}

.section2__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 540px;
    height: 304px;
    margin-top: 54px;
}

.section2__head {
    width: 445px;
    height: 128px;
    font-weight: 900;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: var(--dark-blue);
    margin: 0px 0px;
}

.section2__p {
    width: 540px;
    height: 52px;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: var(--gray);
    margin: 0;
}

.section2__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 348px;
    height: 58px;
}

.button1 {
    font-family: 'Red Hat Display', sans-serif;
    height: 58px;
    width: 193px;
    font-weight: 900;
    background: var(--button-blue);
    border-radius: 29px;
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
    color: white;
    border: none;
}

.button1:after {
    content: 'v1.3';
    color: rgba(143, 227, 249, 1);
}

.button1:hover {
    background: var(--button-hover);
    cursor: pointer;
}

.button2 {
    font-family: 'Red Hat Display', sans-serif;
    height: 58px;
    width: 139px;
    font-weight: 900;
    background: var(--button-violet);
    border-radius: 29px;
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
    color: white;
    border: none;
}

.button2:hover {
    background: var(--button2-hover);
    cursor: pointer;
}

.section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 637px;
    width: 1440px;
    height: 140px;
}

.section3__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 56px;
}

.section3__up {
    width: 56px;
    height: 84px;
    border-left: 1px solid var(--border);
    margin-left: 56px;
}

.section3__down {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    border: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: var(--gray);
    padding-top: 3px;
}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1440px;
    height: 242px;
    top: 841px;
}

.section4__container {
    height: 242px;
    width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section4__container img {
    height: 242px;
    width: auto;
    border-radius: 8px;
}

.section5 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1163px;
    width: 1440px;
    height: 240px;
}

.section5__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section5__head {
    width: 281px;
    height: 26px;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--button-blue);
}

.section5__h1 {
    width: 445px;
    height: 88px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    color: var(--dark-blue);
    margin: 16px 0px 32px 0px;
}

.section5__p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: var(--gray);
    width: 540px;
    height: 78px;
    margin: 0;
}

.footer {
    position: absolute;
    top: 1587px;
    width: 1440px;
    height: 308px;
}

.section6 {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 1440px;
    height: 140px;
    top: -112px;
}

.section6__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 56px;
}

.section6__up {
    width: 56px;
    height: 84px;
    border-left: 1px solid var(--border);
    margin-left: 56px;
}

.section6__down {
    background-color: var(--almost-white);
    height: 56px;
    width: 56px;
    border-radius: 50%;
    border: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: var(--gray);
    padding-top: 3px;
}

.section7 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1440px;
    height: 308px;
    background-image: url(/pictures/desktop/image-footer.jpg);
    box-shadow: inset 0 0 0 200px rgba(77, 150, 169, 0.85);
}

.section7__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 1110px;
    height: 88px;
}

.section7__h1 {
    width: 350px;
    height: 88px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    color: var(--almost-white);
}

.section7__p {
    width: 350px;
    height: 78px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: var(--almost-white);
}

.button3 {
    font-family: 'Red Hat Display', sans-serif;
    height: 58px;
    width: 193px;
    font-weight: 900;
    background: var(--button-violet);
    border-radius: 29px;
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
    color: white;
    border: none;
}

.button3:after {
    content: 'v1.3';
    color: rgba(217, 184, 255, 1);
}

.button3:hover {
    background: var(--button2-hover);
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    html {
        width: 100%;
        height: 2128px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    body {
        width: 100%;
        height: 2128px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section1 {
        width: 768px;
        height: 140px;
    }
    .section2__tablet {
        display: flex;
        position: absolute;
        top: 140px;
    }
    .section2__imgleft {
        display: none;
    }
    .section2__imgright {
        display: none;
    }

    .section2__imgleft__tablet {
        width: 394px;
        height: 303px;
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .section2__imgright__tablet {
        width: 394px;
        height: 303px;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .section2 {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 768px;
        height: 358px;
        top: 443px;
    }

    .section2__tablet{
        width: 820px;
        height: 303px;
        display: flex;
        flex-direction: row;
    }

    .section2__body {
        width: 457px;
        height: 262px;
    }
    .section2__head {
        width: 339px;
        height: 96px;
        font-size: 48px;
        line-height: 48px;
    }
    .section2__p {
        width: 457px;
        height: 52px;
        font-size: 16px;
        line-height: 26px;
    }
    .section3 {
        top: 857px;
        width: 768px;
    }
    .section4 {
        width: 768px;
        top: 1064px;
        height: 156px;
    }
    .section4__container {
        height: 156px;
        width: 689px;
    }
    .section4__container img {
        height: 156px;
    }
    .section5 {
        top: 1268px;
        width: 768px;
    }
    .section5__p {
        font-size: 16px;
        width: 573px;
    }
    .footer {
        position: absolute;
        top: 1700px;
        width: 768px;
        height: 308px;
    }
    .section6 {
        top: -112px;
        width: 768px;
    }
    .section7 {
        width: 768px;
        height: 428px;
        background-image: url(/pictures/tablet/image-footer.jpg);
        box-shadow: inset 0 0 0 300px rgba(77, 150, 169, 0.85);
    }
    .section7__container {
        justify-content: space-evenly;
        flex-direction: column;
        width: 768px;
        height: 315px;
    }
    .section7__h1 {
        width: 457px;
        text-align: center;
    }
    .section7__p {
        width: 573px;
        height: 52px;
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    html {
        width: 100%;
        height: 2215px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    body {
        width: 100%;
        height: 2215px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section1 {
        width: 375px;
        height: 130px;
    }
    .section2__tablet {
        display: flex;
        position: absolute;
        top: 130px;
        width: 414px;
        height: auto;
    }

    .section2__tablet{
        top: 54px;
        width: 820px;
        height: 303px;
        display: flex;
        flex-direction: row;
        transform: scale(0.5);
    }
    .section2 {
        width: 375px;
        height: 350px;
        top: 331px;
    }
    .section2__body {
        width: 375px;
        height: 380px;
        margin-top: 0px;
    }
    .section2__head {
        width: 280px;
        height: 88px;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
    }
    .section2__p {
        width: 327px;
        height: 78px;
        margin: 24px 0px 30px 0px;
    }
    .section2__buttons {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 200px;
        height: 134px;
    }
    .button1 {
        margin: 2px 0px;
    }
    .section3 {
        top: 749px;
        width: 768px;
    }
    .section4 {
        width: 768px;
        top: 953px;
        height: 310px;
    }
    .section4__container {
        height: 310px;
        width: 327px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    .section4__container img {
        width: 151px;
        height: 143px;
    }
    .section5 {
        top: 1327px;
        width: 768px;
    }
    .section5__head {
        width: 281px;
        height: 26px;
    }
    .section5__h1 {
        width: 327px;
        height: 72px;
        font-size: 32px;
        line-height: 36px;
        text-align: center;
        margin: 24px 0px 32px 0px;
    }
    .section5__p {
        font-size: 16px;
        width: 327px;
        height: 130px;
    }
    .footer {
        position: absolute;
        top: 1787px;
        width: 375px;
        height: 428px;
    }
    .section6 {
        top: -112px;
        width: 375px;
    }
    .section7 {
        width: 375px;
        height: 428px;
        background-image: url(/pictures/mobile/image-footer.jpg);
        box-shadow: inset 0 0 0 300px rgba(77, 150, 169, 0.85);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .section7__container {
        justify-content: space-evenly;
        flex-direction: column;
        width: 375px;
        height: 315px;
    }
    .section7__h1 {
        width: 327px;
        height: 72px;
        text-align: center;
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 0px;
    }
    .section7__p {
        width: 327px;
        height: 78px;
        text-align: center;
        font-size: 18px;
        line-height: 26px;
        margin: 10px 0px 18px 0px;
    }
}